body{
    background: red;
    color: white;
}

#tupian{
    background: url("../images/123.jpg");
    width: 533px;
    height: 300px;
}

#postcss{
    width:200px;
    height:100px;
    background-color:yellow;
    transform: rotate(9deg);
}

:global(.abc){
    width: 100px;
}

